{% extends "army_builder/layout/base.html" %}

{% block title %}Create Roster{% endblock %}

{% block content %}
<div id="roster">
  <div id="roster-container">
    <div id="roster-management">
      <h2>Create Roster</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">
          <span class="decorator top left"></span>
          <span class="decorator top right"></span>
          <span class="decorator bottom left"></span>
          <span class="decorator bottom right"></span>
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
