{% extends "army_builder/layout/base.html" %}

{% block title %}My Rosters{% endblock %}

{% block content %}
<div id="roster">
  <div id="roster-container">
    <h2>Rosters</h2>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <table>
      <tr>
        <th>Name</th>
        <th>Ruleset</th>
        <th>Army</th>
        <th>Points</th>
        <th></th>
      </tr>
      {% for roster in rosters %}
        <tr>
          <td>{{ roster.name }}</td>
          <td>{{ roster.ruleset.name }}</td>
          <td>{{ roster.army.name}}</td>
          <td>{{ roster.points_max }}</td>
          <td>
            <a href="{% url 'view-roster' id=roster.id %}"><i class="fa-regular fa-eye"></i></a>
            <a href="{% url 'edit-roster' id=roster.id %}"><i class="fa-solid fa-pen"></i></a>
            <a href="{% url 'delete-roster' id=roster.id %}"><i class="fa-solid fa-trash last"></i></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create-roster' %}" type="submit" id="create-roster" class="button end-button">
      <span class="decorator top left"></span>
      <span class="decorator top right"></span>
      <span class="decorator bottom left"></span>
      <span class="decorator bottom right"></span>
      <span>Create Roster</span>
    </a>
  </div>
</div>
{% endblock %}
