{% extends "army_builder/layout/base.html" %}

{% block content %}
<div id="roster">
  <div id="roster-container">
    <h2>Rosters</h2>
      <table cellspacing="0">
          <th>ID</th>
          <th>Name</th>
          <th>Ruleset</th>
          <th>Army</th>
          <th>Points</th>
          <th></th>
          {% for roster in rosters %}
            <tr>
              <td>#{{ roster.id }}</td>
              <td>{{ roster.name }}</td>
              <td>{{ roster.ruleset.name }}</td>
              <td>{{ roster.army.name}}</td>
              <td>{{ roster.points_max }}</td>
              <td>
                <a href="/view"><i class="fa-regular fa-eye"></i></a>
                <a href="/edit"><i class="fa-solid fa-pen last"></i></a>
              </td>
            </tr>
          {% endfor %}
      </table>
  </div>
</div>

{% endblock %}
