{% extends "army_builder/layout/base.html" %}

{% block title %}View Roster{% endblock %}

{% block content %}
<div id="roster">
  <div id="roster-container">
    <h2>Roster Detail</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Ruleset</th>
        <th>Army</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>{{ data.name }}</td>
        <td>{{ data.ruleset.name }}</td>
        <td>{{ data.army.name}}</td>
        <td>{{ data.points_max }}</td>
      </tr>
    </table>
    <a href="{% url 'roster-list' %}" type="submit" id="create-roster" class="button end-button">
      <span class="decorator top left"></span>
      <span class="decorator top right"></span>
      <span class="decorator bottom left"></span>
      <span class="decorator bottom right"></span>
      <span>Return</span>
    </a>
  </div>
</div>
{% endblock %}
