{% extends "army_builder/layout/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="form-container">
  <div id="login-form">
    <h2>{% trans "Login" %}</h2>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction, button"  type="submit">{% trans "Sign In" %}
        <span class="decorator top left"></span>
        <span class="decorator top right"></span>
        <span class="decorator bottom left"></span>
        <span class="decorator bottom right"></span>
      </button>
    </form>
    <div id="body-form">
      <p>
        {% blocktrans %}
        Don't have an account?
        <a href="{{ signup_url }}">
          <span>Register.</span>
        </a>
        {% endblocktrans %}
      </p>
    </div>
    <div id="end-form">
      <p>
        Forgot your password?
        <a href="{% url 'account_reset_password' %}">
          <span>Reset it.</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
