{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block title %}Logout{% endblock %}

{% block content %}
<div id="form-container">
  <div id="logout-form">
    <h2>{% trans "Logout" %}</h2>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <button type="submit" class="button">
        {% trans 'Logout' %}
        <span class="decorator top left"></span>
        <span class="decorator top right"></span>
        <span class="decorator bottom left"></span>
        <span class="decorator bottom right"></span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
