{% extends "army_builder/layout/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div id="dashboard-container">
    <div id="password-reset">
        <h2>{% trans "Password Reset" %}</h2>
        <div id="body-form">
            <p>{% trans "Enter your e-mail address below if you've forgotten or misplaced your password, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="button" id="reset-pw">{% trans 'Reset My Password' %}
                <span class="decorator top left"></span>
                <span class="decorator top right"></span>
                <span class="decorator bottom left"></span>
                <span class="decorator bottom right"></span>
            </button>
        </form>

        <div id="end-form">
            <p>{% blocktrans %}Please contact me at <a href="mailto:rayrah@live.com" title="E-mail" rel="noopener" aria-label="Send me an email (opens email application)" target="_blank"><span>Rayrah@live.com</span></a> if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
{% endblock %}
