{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div id="dashboard-container">
  <div id="password-reset">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <div id="bad-token">
        <p>
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}"><span>new password reset</span></a>.{% endblocktrans %}
        </p>
      </div>
    {% else %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button end-button">{% trans 'Change Password' %}
          <span class="decorator top left"></span>
          <span class="decorator top right"></span>
          <span class="decorator bottom left"></span>
          <span class="decorator bottom right"></span>
        </button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
