{% extends "army_builder/layout/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div id="dashboard-container">
    <div id="password-reset">
        <h2>{% trans "Password Reset" %}</h2>
        <div id="body-form">
            <p>
            {% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.
            </p>
        </div>
        <div id="end-form">
            <p>
            Otherwise please me contact me at
            <a href="mailto:rayrah@live.com" title="E-mail" rel="noopener" aria-label="Send me an email (opens email application)" target="_blank"><span>Rayrah@live.com</span></a>
             if you do not receive it within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
