{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div id="dashboard-container">
  <div id="password-reset">
    <h2>{% trans "Password Changed" %}</h2>
    <div id="mid-form">
      <p>Password changed successfully. You may now
        <a href="{% url 'account_login' %}">
          <span>login</span>
        </a> or use the button below.
      </p>
    </div>
    <div id="end-form">
      <a href="{% url 'account_login' %}" class="button">
        <span class="decorator top left"></span>
        <span class="decorator top right"></span>
        <span class="decorator bottom left"></span>
        <span class="decorator bottom right"></span>
        <span>Login</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
