{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="dashboard-container">
    <div id="password-change">
        <h2>{% trans "Change Password" %}</h2>

        {% if messages %}
        <div>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="button" id="change-pw">{% trans "Change Password" %}
                <span class="decorator top left"></span>
                <span class="decorator top right"></span>
                <span class="decorator bottom left"></span>
                <span class="decorator bottom right"></span>
            </button>
            <div id="end-form">
                <a href="{% url 'account_reset_password' %}">
                    <span>{% trans "Forgot Password?" %}</span>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
