{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div id="form-container">
  <span class="decorator top left"></span>
  <span class="decorator bottom right"></span>
  <div id="signup-form">
    <h2>{% trans "Sign Up" %}</h2>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="button">{% trans "Sign Up" %} &raquo;
        <span class="decorator top left"></span>
        <span class="decorator top right"></span>
        <span class="decorator bottom left"></span>
        <span class="decorator bottom right"></span>
      </button>
    </form>
    <div id="end-form">
      <p>
        {% blocktrans %}
        Already have an account?
        <a href="{{ login_url }}">
          <span>Sign in.</span>
        </a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>

{% endblock %}
