{% extends "army_builder/layout/base.html" %}

{% block content %}
<div id="dashboard-container">
  <div id="dashboard">
    <h2>About</h2>
        <p class="about-text">
          Paradise Lost is a website made for table-top lovers by table-top lovers. Building armies takes a great deal of time, effort, and commitment.
        </p>
        <p class="about-text">
          Playing with those armies is a whole different story due to the rulesets, setups, abilities, and finer details you must remember.
        </p>
        <p class="about-text">
           Many players opt to keep notebooks covering all these details but it's still very easy to misremember certain details, or even to misplace them!
        </p>
        <p class="about-text">
           This is where we come in! Using our Roster management system, players are able to create, detail, view, and delete their rosters as necessary. With this, your roster is never far!
        </p>
        <p class="about-text">
           We also love to give credit where it's due and this lovely landing page wouldn't be possible without Free Stock Videos by <a href="https://www.videezy.com/abstract/50298-futuristic-globe-world-earth-planet-in-cyberspace-with-binary-code">Videezy</a>.
        </p>

  </div>
</div>
{% endblock %}
