{% extends "army_builder/layout/base.html" %}

{% block content %}

{% load static %}
<!-- Hero Section -->
<div id="hero-text">
  <h2>
    Build Your <br>
    <span class="rotating-text"></span>
  </h2>
  <div id="cta-button">
    <a href="{% url 'account_signup' %}">
      <button type="submit" class="button">
        <span class="decorator top left"></span>
        <span class="decorator top right"></span>
        <span class="decorator bottom left"></span>
        <span class="decorator bottom right"></span>
        {% if user.is_authenticated %}
        <span>Dashboard &raquo;</span>
        {% else %}
        <span>Enlist Now</span>
        {% endif %}
      </button>
    </a>
  </div>
</div>
<div id="hero-video">
  <video playsinline autoplay muted loop poster="placeholder.jpg" id="bgvideo" width="1920" height="1080">
    <source src="https://res.cloudinary.com/raycloud55/video/upload/v1681261407/bg-video_yguqzv.mp4">
  </video>
</div>
<!-- End Hero Section -->
{% endblock %}
