/* Login, Signup, and Logout */

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: fit-content;
}

#login-form,
#signup-form {
  margin: 50px 0 120px 0;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#logout-form {
  margin: 211px 0px 200px 0px;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#login-form h2 {
  margin: 94px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px;
}

#signup-form h2,
#logout-form h2 {
  margin: 94px 0px 44px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px
}

#login-form input,
#signup-form input,
#password-change input {
  display: block;
  margin: 15px auto;
  background: none;
  border: 1px #fd9c31 solid;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #fff;
}

#login-form p,
#signup-form p,
#password-change p {
  text-align: left;
  color: #ccc;
  margin-bottom: 15px;
}

#logout-form p {
  display: flex;
  justify-content: center;
  color: #ccc;
  margin-bottom: 26px;
}

#login-form label,
#signup-form label,
#password-change label {
  margin-left: 30px;
}

#login-form button {
  padding: 20px 135px;
  margin: 10px 0 20px 0;
  z-index: 0;
}

#signup-form button {
  padding: 20px 126px;
  z-index: 0;
}

#logout-form button {
  padding: 20px 128px;
  margin: 20px 0 51px 0;
  z-index: 0;
}

#end-form {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

#password-change #end-form {
  margin-bottom: 59px;
}

#end-form a {
  color: #ccc;
  text-decoration: none;
}

#end-form span:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

#end-form span {
  color: #fd9c31;
  transition: 0.2s ease-in-out;
}

#login-form #id_remember {
  margin: -18px 0px 0px 0px;
  accent-color: #fd9c31;
}

#id_remember:not(:checked) {
  opacity: 0.7;
}

#login-form ul,
#signup-form ul,
#dashboard ul,
#password-change ul {
  color: #ccc;
  list-style: none;
  margin: 60px 30px;
}

/* Dashboard Messages */

#dashboard-messages {
  display: none;
}
