/* Login, Signup, Logout, Password Change, Password Reset */

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

#login-form,
#signup-form {
  margin: 50px 0 120px 0;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#logout-form {
  margin: 211px 0px 200px 0px;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#login-form h2 {
  margin: 94px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px;
}

#signup-form h2,
#logout-form h2 {
  margin: 94px 0px 44px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px
}

#login-form input,
#signup-form input,
#password-change input,
#password-reset input {
  display: block;
  margin: 15px auto;
  background: none;
  border: 1px #fd9c31 solid;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #fff;
}

#login-form p,
#signup-form p,
#password-change p,
#password-reset p {
  text-align: left;
  color: #ccc;
  margin-bottom: 15px;
}

#logout-form p {
  display: flex;
  justify-content: center;
  color: #ccc;
  margin-bottom: 26px;
}

#login-form label,
#signup-form label,
#password-change label,
#password-reset label {
  margin-left: 30px;
}

#login-form button {
  padding: 20px 135px;
  margin: 10px 0 20px 0;
  z-index: 0;
}

#signup-form button {
  padding: 20px 126px;
  z-index: 0;
}

#logout-form button {
  padding: 20px 128px;
  margin: 20px 0 51px 0;
  z-index: 0;
}

#change-pw-key {
  margin: 20px 0 51px 0;
  padding: 20px 88px;
  z-index: 0;
}

#change-pw-key-done {
  margin: 20px 0 51px 0;
  padding: 20px 140px;
  z-index: 0;
}

#create-roster {
  margin: 20px 0 70px 0;
  z-index: 0;
}

#body-form {
  text-align: left;
  color: #ccc;
  margin: 0px 30px 26px 30px;
}

#login-form > #body-form > p {
  margin: 11px 30px 19px 30px;
  text-align: center;
}

#end-form {
  display: flex;
  justify-content: center;
  margin: 11px 30px 19px 30px;
}

#mid-form {
  margin: 11px 30px 4px 30px;
}

#password-change #end-form,
#password-reset #end-form {
  margin: 11px 30px 19px 30px;
}

#roster-management #delete-roster,
#roster-management #update-roster {
  margin: 20px 0;
  padding: 20px 126px;
  z-index: 0;
}

#bad-token {
  margin: 11px 30px 26px 30px;
}

#end-form a,
#body-form a,
#mid-form a,
#bad-token a,
#roster-management a,
.roster-text a {
  color: #ccc;
  text-decoration: none;
}

#end-form span:hover,
#body-form span:hover,
#mid-form span:hover,
#bad-token span:hover,
#roster-management span:hover,
.roster-text span:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

#end-form span,
#body-form span,
#mid-form span,
#bad-token span,
#roster-management span {
  color: #fd9c31;
  transition: 0.2s ease-in-out;
}

#login-form #id_remember {
  margin: -18px 0px 0px 0px;
  accent-color: #fd9c31;
}

#id_remember:not(:checked) {
  opacity: 0.7;
}

#login-form ul,
#signup-form ul,
#dashboard ul,
#password-change ul,
#password-reset ul,
#roster ul {
  color: #ccc;
  list-style: none;
  margin: 60px 30px;
}

#login-form li,
#signup-form li,
#dashboard li,
#password-change li,
#password-reset li {
  padding: 10px 0px;
}

/* Roster */

#roster-management input {
  display: block;
  margin: 15px auto;
  background: none;
  border: 1px #fd9c31 solid;
  border-radius: 5px;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: #fff;
}

#roster-management select {
  display: block;
  margin: 15px auto;
  background: none;
  border: 1px #fd9c31 solid;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #fff;
}

#roster-management p {
  text-align: left;
  color: #ccc;
  margin-bottom: 15px;
}

#roster-management .roster-text {
  margin: 0px 30px 26px 30px;
  text-align: center;
}

#roster-management label {
  margin-left: 77px;
}

#roster-management button {
  margin: 20px 0 51px 0;
  padding: 20px 126px;
  z-index: 0;
}

/* Dashboard Messages */

#dashboard-messages {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  #roster-container {
  width: 80%;
  }
}

@media screen and (max-width: 500px) {

#logout-form,
#login-form,
#signup-form,
#password-reset,
#password-change,
#dashboard,
#roster-container {
  width: 80%;
  }

#roster-container h2 {
  padding: 0 30px;
}

#login-form input,
#signup-form input,
#password-reset input,
#password-change input,
#roster-management input {
  width: 65%;
}

#login-form label,
#signup-form label,
#password-reset label,
#password-change label,
#roster-management label {
  margin-left: 15%;
}

#roster-management select {
  width: 72%;
}

#login-form #id_remember {
  margin: -17px 0px 0px 80px;
}

#logout-form .button,
#login-form .button,
#signup-form .button,
#change-pw-key-done,
#roster-management #update-roster,
#roster-management #delete-roster {
  padding:20px 70px
  }

#reset-pw,
#change-pw,
#change-pw-key,
#dash-changepw {
  padding: 20px;
}

#dash-changepw {
  padding: 20px 40px;
}



}
