/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&family=Orbitron:wght@400;500;700&display=swap');

/* Common */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Exo, sans-serif;
    font-weight: 300;
    color: #fbfbfb;
}

/* Headings */

h1,
h2,
h3 {
    font-family: Orbitron, sans-serif;
    text-transform: uppercase;
}

/* Hero Section */

#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

video {
   filter: brightness(70%);
}

#hero-text {
  position: absolute;
  font-size: 32px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#hero-text h1 {
  font-weight: 500;
}

.rotating-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #fd9c31;
  font-size: 54px;
  letter-spacing: 3px;
  font-weight: 700;
  width: auto;
  animation: slidedown 4s infinite;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }

  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }

  7% {
    transform: translateY(-1em);
  }

  10% {
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

/* Background */

#page-bg {
  height: 100vh;
  width: 100%;
  background: #191919;
  background-image:
    linear-gradient(90deg, #111 1rem, transparent 1rem),
    linear-gradient(#111 1rem, transparent 1rem);
  background-size: 1.2rem 1.2rem;
  z-index: -1000;
}


/* Buttons */

.button {
  margin: 20px 20px;
  padding: 20px 40px;
  position: relative;
  background-color: #333;
  border: 1px solid #444;
  color: #fd9c31;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  z-index: 50;
}

.button:first-of-type {
  margin-left: 0px; }

.button:last-of-type {
  margin-right: 0px; }

.button:hover {
  position: relative;
  border: 1px solid transparent;
  background-color: #393939;
  color: whitesmoke;
  animation: .07s flicker;
  animation-iteration-count: 2;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1); }

.decorator {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  animation: .1s flicker;
  animation-iteration-count: 3;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1); }

.decorator.top {
  top: -1px;
  border-top: 1px solid #fd9c31; }

.decorator.bottom {
  bottom: -1px;
  border-bottom: 1px solid #fd9c31; }

.decorator.left {
  left: -1px;
  border-left: 1px solid #fd9c31; }

.decorator.right {
  right: -1px;
  border-right: 1px solid #fd9c31; }

.button:hover .decorator.top {
  top: -16px;
  border-top: 1px solid #fd9c31; }

.button:hover .decorator.bottom {
  bottom: -16px;
  border-bottom: 1px solid #fd9c31; }

.button:hover .decorator.left {
  left: -16px;
  border-left: 1px solid #fd9c31; }

.button:hover .decorator.right {
  right: -16px;
  border-right: 1px solid #fd9c31; }

@keyframes flicker {
  0%, 50% {
    opacity: 0; }
  51%, 100% {
    opacity: 1; } }

#dash-logout,
#change-pw {
  padding: 20px 88px;
  z-index: 0;
}

#reset-pw {
  padding: 20px 82px;
  z-index: 0;
}

#my-rosters {
  padding: 20px 71px;
  z-index: 0;
}

#dash-changepw {
  z-index: 0;
}

/* Navigation Menu */

#menu {
  background: #1e1e1e url("https://res.cloudinary.com/raycloud55/image/upload/v1681261406/dot_ypxj8c.png") repeat;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

#menu.open {
  opacity: 1;
  visibility: visible;
}

#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}

#menu.open li:nth-child(5) {
  animation-delay: 0.5s;
}

#menu.open li:nth-child(6) {
  animation-delay: 0.6s;
}

#menu.open li:nth-child(7) {
  animation-delay: 0.7s;
}

#menu.open li:nth-child(8) {
  animation-delay: 0.8s;
}

#menu.open li:nth-child(9) {
  animation-delay: 0.9s;
}

#menu.open li:nth-child(10) {
  animation-delay: 1s;
}

#menu.open li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

#menu ul:hover a {
  opacity: 0.5;
}

#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
  opacity: 1;
}

#menu .main-navigation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu .main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu .main-navigation a {
  color: #ffffff;
  display: block;
  font-family: Orbitron, sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#menu .main-navigation a:first {
  padding-top: 0;
}

#menu .main-navigation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu .main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .main-navigation a {
  color: #ffffff;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .main-navigation a:first {
  padding-top: 0;
}
#menu .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
#menu .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-footer i {
  font-size: 30px;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 70px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 80px;
  z-index: 110;
}

.hamburger-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}

.hamburger-menu span:before, .hamburger-menu span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}

.hamburger-menu span:before {
  top: 7px;
}

.hamburger-menu span:after {
  top: -7px;
}

.hamburger-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}

.hamburger-menu.active span:before, .hamburger-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.hamburger-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

.hamburger-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

/* Logo */

#logo h1 {
  position: relative;
  padding: 20px 0 0 26px;
  z-index: 100;
  font-size: 24px;
}

#logo a {
  text-decoration: none;
}

#logo-pt1 {
  color: #fff;
  font-weight: 700;
}

#logo-pt2 {
  color: #fd9c31;
  font-weight: 400;
}

/* User Dashboard */

#dashboard-container,
#roster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

#dashboard {
  margin: 50px 0 120px 0;
  padding-bottom: 94px;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#dashboard h2 {
  margin: 94px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px;
}

#dashboard p {
  color: #ccc;
  margin-bottom: 15px;
  text-decoration: none;
}

#dashboard a {
  color: #fd9c31;
  text-decoration: none;
}

#dashboard .links {
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

#dashboard .links:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

#dashboard > .end-dash {
  margin-bottom: 0;
}

#dashboard > .dashboard-button {
  display: flex;
  flex-direction: column;
}

#username,
#roster-management #roster-name {
  color: #fff;
  font-weight: 500;
}

#dashboard > #welcome-text {
  margin-bottom: 74px;
}

/* Change Password */

#password-change,
#password-reset {
  margin: 50px 0 120px 0;
  height: fit-content;
  position: relative;
  width: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

#password-change h2,
#password-reset h2 {
  margin: 94px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px;
}

/* Roster */

#roster {
  display: flex;
  justify-content: center;
  width: 100%;
}

#roster h2 {
  margin: 94px 0px;
  padding: 0 80px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
  margin-right: 40px;
  margin-left: 40px;
}

#roster-container {
  flex-direction: column;
  margin: 50px 0 120px 0;
  height: fit-content;
  position: relative;
  width: 800px;
  text-align: center;
  background: linear-gradient(0deg, rgba(245, 213, 70, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
  border: 1px #ccc solid;
}

table {
  width: 80%;
  margin-bottom: 50px;
  border: 1px #fd9c31 solid;
  border-radius: 5px;
}

table td, table th {
  color: #ccc;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: fff;
  font-weight: 600;
}

table tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

table tr:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.23);
}

table i {
  color: #fd9c31;
  text-decoration: none;
  padding-right: 5px;
  transition: 0.2s ease-in-out;
}

table .last {
  padding-right: 0px;
}

table i:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

/* About Page */

.about-text {
  text-align: left;
  color: #ccc;
  margin: 0px 30px 26px 30px;
}

/* Error 404 */

#server-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.error-text {
  font-size:75px;
}

.error-text-1 {
  font-size:75px;
  transform: translate(20px, 73px)
}

.error-text-2 {
  font-size:75px;
  transform: translate(132px, 71px)
}


svg {
  width: 500px;
  height: 400px;
  text-align: center;
  fill: #fd9c31;
}

path#XMLID_5_ {

    fill: #fd9c31;
    filter: url(#blurFilter4);
}

path#XMLID_11_ ,path#XMLID_2_ {
    fill: #fd9c31;
}
.circle {
  animation: out 2s infinite ease-out;
  fill: #fd9c31;
}

.error-message {
  color:#fd9c31;
}
.error-message:after {
  content:"]";
}
.error-message:before {
  content:"[";
}

.error-message:after,
.error-message:before {
  color: #fd9c31;
  font-size: 20px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          margin:0 50px;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes out {
  0% {r:1;  opacity: 0.9 ;}
  25%{r:5;  opacity: 0.3 ;}
  50%{r:10; opacity: 0.2 ;}
  75%{r:15;opacity:0.1;}
  100% {r:20;opacity:0;}
}

/* Media Queries */

@media screen and (max-width: 900px) {

table {
  width: auto;
  border: none;
  }

table tr {
  background: rgba(0, 0, 0, 0.1);
  border: 1px #fd9c31 solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

table tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.0);
}

table tr:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.0);
}

  table, tr, td {
  display: block;
}

  td:first-child {
    background-color: transparent;
    border-bottom: 1px #fd9c31 dashed;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: auto;
}

  tr:first-child {
    display: none;
}

  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
}

  td:not(:first-child):before {
    color: #fff;
    font-weight: 600;
    content: "";
    display: block;
    left: 0;
    position: absolute;
}

  td:nth-child(2):before {
    content: "Ruleset:";
}

  td:nth-child(3):before {
    content: "Army:";
}

  td:nth-child(4):before {
    content: "Points:";
}

  tr {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px #fd9c31 dashed;
}

  tr:first-child {
    display: none;
  }

    table td {
    padding-bottom: 8px;
  }

  tr {
    border: 1px #fd9c31 solid;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0;
    width: 200px;
  }

  td:first-child {
    background-color: transparent;
    border-bottom: 1px #fd9c31 dashed;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: auto;
}

  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
}
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
}

td:last-child {
  padding-bottom: 1rem;
}

}

@media screen and (max-width: 700px) {

svg {
  transform: scale(0.7);
}
}

@media screen and (max-width: 500px) {

  #hero-text {
    font-size: 18px;
  }

  .rotating-text {
    font-size: 25px;
  }

  #menu .main-navigation a {
    font-size: 25px;
  }

  table {
    border: none;
  }

.error-message {
  font-size: 10px;
}

svg {
  transform: scale(0.5);
}

}

