/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&family=Orbitron:wght@400;500;700&display=swap');

/* Common Styles */

/* Hero Video */

#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  transform: translateX(-50%) translateY(-50%);
}

video {
   filter: brightness(70%);
}
