/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&family=Orbitron:wght@400;500;700&display=swap');

/* Common */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Exo, sans-serif;
    font-weight: 300;
    color: #fbfbfb;
}

.section {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    padding: 100px 0px;
}

/* Headings */

h1,
h2,
h3 {
    font-family: Orbitron, sans-serif;
    text-transform: uppercase;
}

/* Hero Section */

#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translateX(-50%) translateY(-50%);
}

video {
   filter: brightness(70%);
}

#hero-text {
  position: absolute;
  font-size: 32px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#hero-text h1 {
  font-weight: 500;
}

.rotating-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #fd9c31;
  font-size: 54px;
  letter-spacing: 3px;
  font-weight: 700;
  width: auto;
  animation: slidedown 4s infinite;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }

  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }

  7% {
    transform: translateY(-1em);
  }

  10% {
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

/* Buttons */

.button {
  margin: 20px 20px;
  padding: 20px 40px;
  position: relative;
  background-color: #333;
  border: 1px solid #444;
  color: #fd9c31;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  z-index: 50;
}

.button:first-of-type {
  margin-left: 0px; }

.button:last-of-type {
  margin-right: 0px; }

.button:hover {
  position: relative;
  border: 1px solid transparent;
  background-color: #393939;
  color: whitesmoke;
  animation: .07s flicker;
  animation-iteration-count: 2;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1); }

.decorator {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  animation: .1s flicker;
  animation-iteration-count: 3;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1); }

.decorator.top {
  top: -1px;
  border-top: 1px solid #fd9c31; }

.decorator.bottom {
  bottom: -1px;
  border-bottom: 1px solid #fd9c31; }

.decorator.left {
  left: -1px;
  border-left: 1px solid #fd9c31; }

.decorator.right {
  right: -1px;
  border-right: 1px solid #fd9c31; }

.button:hover .decorator.top {
  top: -16px;
  border-top: 1px solid #fd9c31; }

.button:hover .decorator.bottom {
  bottom: -16px;
  border-bottom: 1px solid #fd9c31; }

.button:hover .decorator.left {
  left: -16px;
  border-left: 1px solid #fd9c31; }

.button:hover .decorator.right {
  right: -16px;
  border-right: 1px solid #fd9c31; }

@keyframes flicker {
  0%, 50% {
    opacity: 0; }
  51%, 100% {
    opacity: 1; } }
