<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Paradise Lost, an army building tool for tabletop war-gaming." />
    <meta name="keywords" content="paradise lost, army builder, tabletop, war-gaming, army management" />
    <meta name="author" content="Ryael" />
    <!-- End Meta Data -->

    <!-- Title -->
    <title>Home | Paradise Lost</title>
    <!-- Title -->

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End CSS -->
</head>
<body>
  <!-- Hero Section -->
  <div id="hero-video">
    <video playsinline autoplay muted loop poster="placeholder.jpg" id="bgvideo" width="1920" height="1080">
      <source src="{% static 'video/bg-video.mp4' %}">
    </video>
  </div>
</body>
</html>
