{% load static %}
<!-- Meta Data -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Paradise Lost, an army building tool for tabletop war-gaming.">
<meta name="keywords" content="paradise lost, army builder, tabletop, war-gaming, army management">
<meta name="author" content="Ryael">
<!-- End Meta Data -->

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/raycloud55/image/upload/v1681261876/favicon_qt1zco.ico">
<!-- Favicon -->

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- End CSS -->
