{% extends "army_builder/layout/base.html" %}

{% load i18n %}

{% block content %}
<div id="dashboard-container">
  <div id="dashboard">
    <h2>{% trans "Dashboard" %}</h2>
    {% if user.is_authenticated %}
        <p id="welcome-text">Welcome, Commander <span id="username">{{ user.username}}.</span>
        </p>
        {% if messages %}
        <div id="dashboard-messages">
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="dashboard-button">
          <a href="{% url 'roster-list' %}">
            <button type="submit" id="my-rosters" class="button">
              <span class="decorator top left"></span>
              <span class="decorator top right"></span>
              <span class="decorator bottom left"></span>
              <span class="decorator bottom right"></span>
              <span>My Rosters</span>
            </button>
          </a>
          <a href="{% url 'account_change_password' %}">
            <button type="submit" id="dash-changepw" class="button">
              <span class="decorator top left"></span>
              <span class="decorator top right"></span>
              <span class="decorator bottom left"></span>
              <span class="decorator bottom right"></span>
              <span>Change Password</span>
            </button>
          </a>
          <a href="{% url 'account_logout' %}">
            <button type="submit" id="dash-logout" class="button">
              <span class="decorator top left"></span>
              <span class="decorator top right"></span>
              <span class="decorator bottom left"></span>
              <span class="decorator bottom right"></span>
              <span>Logout</span>
            </button>
          </a>
        </div>
    {% else %}
        <p>Are you ready to start building your armies?</p>
        <p class="end-dash">Please
          <a href="{% url 'account_login' %}">
            <span class="links">Login</span>
          </a>
           or
          <a href="{% url 'account_signup' %}">
            <span class="links">Register</span>
          </a>
           first.
         </p>
    {% endif %}
  </div>
</div>
{% endblock %}
